/*Font face*/

@font-face {
    font-family: 'Manrope';
    src: url("../fonts/Manrope-ExtraLight.woff2") format("woff2"),
    url("../fonts/Manrope-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces';
    src: url('../fonts/Fraunces-9ptBlack.woff2') format('woff2'),
    url('../fonts/Fraunces-9ptBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Bold.woff2") format("woff2"),
    url("../fonts/Manrope-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



/*custom props*/
:root {
    /*colors*/
    --dark-purple: #24053E;
    --eucaplytus: #44FFA1;
    --davys-grey: #584D62;
    --ghost-white: #FCF8FF;

    /*Fonts*/
    --heading-font-family: "Fraunces 144pt", "Times new Roman", serif;
    --body-font-family: "Manroupe", "Arial", san-serif;

    /*transition*/
    --transition-duration: 0.3s
}


/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: var(--body-font-family);
    font-size: 18px;
    line-height: 32px;
    background-color: #fff;
    color: var(--dark-purple);
}

img {
    max-width: 100%;
    height: auto;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1194px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
}

/*Site header hero wrapper*/
.site-header-hero-wrapper {
    padding-top: 56px;
    background-color: var(--dark-purple);
}

/*Button  */
.button {
    display: inline-block;
    background-color: var(--eucaplytus);
    border: 2px solid transparent;
    padding: 11px 24px 14px;
    color: var(--dark-purple);
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -0.18px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    transition: border-color ease var(--transition-duration),
    background-color ease var(--transition-duration),
    color ease var(--transition-duration),
    opacity ease var(--transition-duration),
}

.button:hover {
    border-color: var(--eucaplytus);
    background-color: transparent;
    color: var(--eucaplytus);
}
.button:active {
    opacity: 0.6;
}

/*Logo*/


.logo {
    display: block;
    text-decoration: none;
    transition: opacity ease var(--transition-duration);

}

.logo:hover {
    opacity: 0.8;

}

.logo:active {
    opacity: 0.6;

}

.logo_img {
    display: block;
    width: 97px;
    height: 26px;
}

/*underline link*/
.underline-link {
    display: inline-block;
    border-bottom: 3px solid var(--eucaplytus);
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
    transition: color ease var(--transition-duration),
    opacity ease var(--transition-duration );
}

.underline-link:hover {
    color: var(--eucaplytus);
}

.underline-link:active {
    opacity: 0.6;
}

/*site header */
.site-header_container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;

}


.underline-link {

}


/*hero*/
.hero_container {
    display: flex;
    flex-direction: column;
    align-items: center;


}
.hero_picture {
    display: block;
}

.hero_heading {
    max-width: 635px;
    margin-top: 0;
    margin-bottom: 36px;
    font-family: var(--heading-font-family);
    font-weight: 600;
    font-size: 80px;
    line-height: 1;
    color: white;
    text-align: center;
}


/*Underline text */
.underline-text {

    display: inline-block;
    border-bottom: 3px solid var(--eucaplytus);

}

.hero_button {
    margin-bottom: 50px;
}



@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (     -o-min-device-pixel-ratio: 2/1), only screen and (        min-device-pixel-ratio: 2), only screen and (                min-resolution: 192dpi), only screen and (                min-resolution: 2dppx) {

}

@media screen and (max-width: 768px) {
    .site-header-hero-wrapper {
        padding-top: 36px;
    }
    .site-header_container {
        margin-bottom: 60px;
    }

    .hero_heading {
      max-width: 465px;
        font-size: 60px;
        line-height: 1;
        margin-bottom: 400px;
    }

}
