/*Font face*/

@font-face {
    font-family: 'Manrope';
    src: url("../fonts/Manrope-ExtraLight.woff2") format("woff2"),
    url("../fonts/Manrope-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces';
    src: url('../fonts/Fraunces-9ptBlack.woff2') format('woff2'),
    url('../fonts/Fraunces-9ptBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Bold.woff2") format("woff2"),
    url("../fonts/Manrope-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/*custom props*/
:root {
    /*colors*/
    --dark-purple: #24053E;
    --eucaplytus: #44FFA1;
    --davys-grey: #584D62;
    --ghost-white: #FCF8FF;

    /*Fonts*/
    --heading-font-family: "Fraunces 144pt", "Times new Roman", serif;
    --body-font-family: "Manroupe", "Arial", san-serif;

    /*transition*/
    --transition-duration: 0.3s
}


/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: var(--body-font-family);
    font-size: 18px;
    line-height: 32px;
    background-color: #fff;
    color: var(--dark-purple);
}

img {
    max-width: 100%;
    height: auto;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1194px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
}


/*Logo*/


.logo {
    display: block;
    text-decoration: none;
    transition: opacity ease var(--transition-duration);

}

.logo:hover {
    opacity: 0.8;

}

.logo:active {
    opacity: 0.6;

}

.logo_img {
    display: block;
    width: 97px;
    height: 26px;
}


/*underline link*/
.underline-link {
    display: inline-block;
    border-bottom: 3px solid var(--eucaplytus);
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
    transition: color ease var(--transition-duration),
    opacity ease var(--transition-duration);
}

.underline-link:hover {
    color: var(--eucaplytus);
}

.underline-link:active {
    opacity: 0.6;
}


/*Underline text */
.underline-text {

    display: inline-block;
    border-bottom: 3px solid var(--eucaplytus);

}


/*Button  */
.button {
    display: inline-block;
    padding: 11px 24px 14px;
    background-color: var(--eucaplytus);
    border: 2px solid transparent;
    color: var(--dark-purple);
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -0.18px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    transition: border-color ease var(--transition-duration),
    background-color ease var(--transition-duration),
    color ease var(--transition-duration),
    opacity ease var(--transition-duration),
}

.button:hover {
    border-color: var(--eucaplytus);
    background-color: transparent;
    color: var(--eucaplytus);
}

.button:active {
    opacity: 0.6;
}


/*Site header hero wrapper*/
.site-header-hero-wrapper {
    padding-top: 56px;
    background-color: var(--dark-purple);
}

/*site header */
.site-header_container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;

}


/*hero*/
.hero_container {
    display: flex;
    flex-direction: column;
    align-items: center;


}


.hero_heading {
    max-width: 635px;
    margin-top: 0;
    margin-bottom: 36px;
    font-family: var(--heading-font-family);
    font-size: 80px;
    line-height: 1;
    color: white;
    text-align: center;
}


.hero_button {
    margin-bottom: 50px;
}

/*Features*/

.features {
    padding-top: 255px;
    padding-bottom: 170px;
    background-color: var(--ghost-white);
}


.feature_list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    counter-reset: features_list;
}



.feature_item {
    width: calc((100% - 52px) / 3);
    counter-increment: feature-list;
}


.feature {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.feature::before {
    flex-shrink: 0;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border: 1px solid var(--davys-grey);
    margin-bottom: 56px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 40px;
    font-family: var(--heading-font-family);
    text-align: center;
    content: counter(feature-list);
}


.feature_title {
    margin-top: 0;
    margin-bottom: 28px;
    font-family: var(--heading-font-family);
    font-size: 32px;
    line-height: 40px;
}

.feature_description {
    margin: 0;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {


}

@media screen and (max-width: 1024px) {
    .features {
        padding-top: 200px;
        padding-bottom: 100px;
    }
    .feature_list {
        flex-direction: column;
        max-width: 575px;
        margin-left: auto;
        margin-right: auto;
    }

    .feature_item {
        width: 100%;
    }

    .feature_item:not(:last-child) {
        margin-bottom: 48px;
    }

    .feature {
        flex-direction: row;
        align-items: center;
    }

    .feature:before {
        width: 48px;
        height: 48px;
        margin-bottom: 0;
        margin-right: 32px;
    }

    .feature_inner{
        text-align: left;
    }

    .feature_title {
        margin-bottom: 16px;
        font-size: 28px;
        line-height: 36px;
    }

    .feature_description {
        font-size: 16px;
        line-height: 28px;
    }

}



@media screen and (max-width: 768px) {
    .site-header-hero-wrapper {
        padding-top: 36px;
    }

    .site-header_container {
        margin-bottom: 60px;
    }

    .hero_heading {
        max-width: 465px;
        font-size: 60px;
        line-height: 1;
        margin-bottom: 40px;
    }

    .features {
        padding-top: 155px;
        padding-bottom: 70px;
    }

    .feature_item:not(:last-child) {
        margin-bottom: 40px;
    }

    .feature {
        flex-direction: column;
    }

    .feature::before {
        margin-right: 0;
        margin-bottom: 24px;
    }

    .feature_inner {
        text-align: center;
    }
 }

@media only screen and (max-width: 500px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .site-header_container {
        margin-bottom: 64px;
    }

    .hero_heading {
        max-width: 80%;
        font-size: 50px;
    }

    .hero_button {
        margin-bottom: 60px;
    }
}
